table {
    font-family: 'Open Sans Condensed', sans-serif;
    border-collapse: collapse;
    width: 50%;
}

th {
    background-color: teal;
    color: white;
    padding: 8px;
    border: 3px solid teal;
}

td {
    border: 3px solid teal;
    text-align: centre;
    padding: 8px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}


/* tr:nth-child(even) {
    background-color: #ca1d1d;
} */


/* table,
th,
td {
    border: 1px solid black;
} */